extends ../layout

block header
	header.bar.bar-nav
		if sessionNumber
			- var backURL = "/admin/attendance";
		else
			- var backURL = "/admin";
		a.btn.btn-link.btn-nav.pull-left(href=backURL, data-transition="slide-out")
			span.icon.icon-left-nav
			| Back
		h1.title= title

block content
	//- TODO: Ability to overide an entry
	if !sessionNumber
		ul.table-view.attendance
			li.table-view-cell
				a.navigate-right(href="/admin/attendance/1", data-transition="slide-in")
					span.badge.badge-positive= attendance[1].present
					span.badge.badge-negative= attendance[1].absent
					| Session 1 Attendance
			li.table-view-cell
				a.navigate-right(href="/admin/attendance/2", data-transition="slide-in")
					span.badge.badge-positive= attendance[2].present
					span.badge.badge-negative= attendance[2].absent
					| Session 2 Attendance
			li.table-view-cell
				a.navigate-right(href="/admin/attendance/3", data-transition="slide-in")
					span.badge.badge-positive= attendance[3].present
					span.badge.badge-negative= attendance[3].absent
					| Session 3 Attendance
			li.table-view-cell
				a.navigate-right(href="/admin/attendance/4", data-transition="slide-in")
					span.badge.badge-positive= attendance[4].present
					span.badge.badge-negative= attendance[4].absent
					| Session 4 Attendance
	else
		h5.content-padded
			strong Presentation 1 - Ryan Petschek
		ul.table-view
			li.table-view-divider Absent
			li.table-view-cell(style="color: #dd524d;") Student 1
			li.table-view-cell(style="color: #dd524d;") Student 2
			li.table-view-divider Present
			li.table-view-cell Student 1
			li.table-view-cell Student 2
		h5.content-padded
			strong Presentation 2 - Jules Becker
		ul.table-view
			li.table-view-divider Absent
			li.table-view-cell(style="color: #dd524d;") Student 1
			li.table-view-cell(style="color: #dd524d;") Student 2
			li.table-view-divider Present
			li.table-view-cell Student 1
			li.table-view-cell Student 2