extends ../layout

block header
	header.bar.bar-nav
		if sessionNumber
			- var backURL = "/admin/attendance";
		else
			- var backURL = "/admin";
		a.btn.btn-link.btn-nav.pull-left(href=backURL, data-transition="slide-out")
			span.icon.icon-left-nav
			| Back
		h1.title= title

block content
	//- TODO: Ability to overide an entry
	if !sessionNumber
		ul.table-view.attendance
			li.table-view-cell
				a.navigate-right(href="/admin/attendance/1", data-transition="slide-in")
					| Session 1 Attendance
					small &nbsp;(
						span= attendance[1].present.length
						| &nbsp;/&nbsp;
						span= attendance[1].absent.length
						| )
			li.table-view-cell
				a.navigate-right(href="/admin/attendance/2", data-transition="slide-in")
					| Session 2 Attendance
					small &nbsp;(
						span= attendance[2].present.length
						| &nbsp;/&nbsp;
						span= attendance[2].absent.length
						| )
			li.table-view-cell
				a.navigate-right(href="/admin/attendance/3", data-transition="slide-in")
					| Session 3 Attendance
					small &nbsp;(
						span= attendance[3].present.length
						| &nbsp;/&nbsp;
						span= attendance[3].absent.length
						| )
			li.table-view-cell
				a.navigate-right(href="/admin/attendance/4", data-transition="slide-in")
					| Session 4 Attendance
					small &nbsp;(
						span= attendance[4].present.length
						| &nbsp;/&nbsp;
						span= attendance[4].absent.length
						| )
	else
		br
		input#attendance-search(type="text", placeholder="Search by presenter name")
		br
		each presentation in attendance
			.presentation
				h4.content-padded= presentation.presentation.title
					small= presentation.presentation.presenter
				ul.table-view.attendance-detail
					li.table-view-divider Absent
					if presentation.absent.length > 0
						each attendee in presentation.absent
							li.table-view-cell.attendance-absent(style="color: #dd524d;")= attendee
					else
						li.table-view-cell: i No one
					li.table-view-divider Present
					if presentation.present.length > 0
						each attendee in presentation.present
							li.table-view-cell.attendance-present= attendee
					else
						li.table-view-cell: i No one