extends ../layout

block header
	header.bar.bar-nav
		a.btn.btn-link.btn-nav.pull-left(href="/admin", data-transition="slide-out")
			span.icon.icon-left-nav
			| Back
		h1.title= title

block content
	- var session1Active = (goToSessionTab == 1) ? "active": "";
	- var session2Active = (goToSessionTab == 2) ? "active": "";
	- var session3Active = (goToSessionTab == 3) ? "active": "";
	- var session4Active = (goToSessionTab == 4) ? "active": "";
	.segmented-control
		a.control-item(href="#session1", data-session="1", class=session1Active) Session 1
		a.control-item(href="#session2", data-session="2", class=session2Active) Session 2
		a.control-item(href="#session3", data-session="3", class=session3Active) Session 3
		a.control-item(href="#session4", data-session="4", class=session4Active) Session 4
	.card
		mixin session (sessionNumber)
			if presentations.length > 0
				ul.table-view.explore
					for presentation in presentations
						if presentation.sessionNumber == sessionNumber
							li.table-view-cell
								a.navigate-right(href="/admin/registrations/#{presentation.sessionID}", data-transition="slide-in")
									strong= presentation.title
									br
									small= presentation.presenter
									p
										if presentation.abstract.length < 100
											| #{presentation.abstract}
										else
											| #{presentation.abstract.substr(0, 100) + "..."}
			else
				p.content-padded(style="text-align: center;"): i No presentations created yet

		#session1.control-content(class=session1Active)
			+session(1)
		#session2.control-content(class=session2Active)
			+session(2)
		#session3.control-content(class=session3Active)
			+session(3)
		#session4.control-content(class=session4Active)
			+session(4)

	ul.table-view
		li.table-view-cell
			a.schedule-name.navigate-right(data-ignore="push", href="/admin/registrations/print/1", target="_blank") Print Session 1
		li.table-view-cell
			a.schedule-name.navigate-right(data-ignore="push", href="/admin/registrations/print/2", target="_blank") Print Session 2
		li.table-view-cell
			a.schedule-name.navigate-right(data-ignore="push", href="/admin/registrations/print/3", target="_blank") Print Session 3
		li.table-view-cell
			a.schedule-name.navigate-right(data-ignore="push", href="/admin/registrations/print/4", target="_blank") Print Session 4

	h4(style="text-align: center;") #{unregisteredStudents.length} students and teachers haven't signed up yet
	- var disableAutoRegister = (unregisteredStudents.length <= 0);
	button#auto-register.btn.btn-block.btn-primary(disabled=disableAutoRegister) Register them automatically

block footer
	br