extends layout

block header
	header.bar.bar-nav
		block buttons
			if !loggedIn
				a.btn.btn-primary.pull-left(href="#login") Login
			a.icon.icon-gear.pull-right(href="#settings")
		h1.title= title
	nav.bar.bar-tab
		block tabs
			+tab("Explore", "", "icon-search", true)
			+tab("Register", "/register", "icon-check", false)
			+tab("My Schedule", "/schedule", "icon-list", false)
			+tab("Feedback", "/feedback", "icon-compose", false)

block content

	#slider.swipe
		.swipe-wrap
			.hero.session-panel#health
				h4 Session 1
				div.herotitle
					h3 Global Health in Local Context
			.hero.session-panel#globalization
				h4 Session 2
				div.herotitle
					h3 Globalization and its Discontents
			.hero.session-panel#science
				h4 Session 3
				div.herotitle
					h3 Science, Technology, and Change
			.hero.session-panel#incentives
				h4 Session 4
				div.herotitle
					h3 The Power of Incentives in Decision-Making
		span.navigation.icon.icon-left#left
		span.navigation.icon.icon-right#right

	if presentations.length > 0
		for sessionNumber in [1, 2, 3, 4]
			ul.table-view.explore.fadeIn
				for presentation in presentations
					if presentation.sessionNumber == sessionNumber
						li.table-view-cell.media
							a.navigate-right(href="/explore/#{presentation.sessionID}", data-transition="slide-in")
								if pictures[presentation.presenter]
									.profile-img.pull-left(style='background-image: url("/media/students/#{pictures[presentation.presenter]}");')
								.media-body
									strong= presentation.title
									br
									small= presentation.presenter
									p.small-abstract #{(presentation.abstract.split(" ").length >= 25)? presentation.abstract.split(" ").splice(0, 25).join(" ") + "..." : presentation.abstract}
									p.medium-abstract #{(presentation.abstract.split(" ").length >= 40)? presentation.abstract.split(" ").splice(0, 40).join(" ") + "..." : presentation.abstract}
									p.large-abstract #{(presentation.abstract.split(" ").length >= 80)? presentation.abstract.split(" ").splice(0, 80).join(" ") + "..." : presentation.abstract}
	else
		p.content-padded(style="text-align: center;"): i No presentations created yet

block footer
	br
