extends layout

block header
	header.bar.bar-nav(style="border-bottom: none;")
		block buttons
			if !loggedIn
				a.btn.btn-primary.pull-left(href="#login") Login
			a.icon.icon-gear.pull-right(href="#settings")
		h1.title= title
	nav.bar.bar-tab
		block tabs

block content

	div#slider.swipe
		div.swipe-wrap
			div.hero#globalization.session-panel
				h3 Globalization and its discontents
			div.hero#health.session-panel
				h3 Global health in a local context
	if presentations.length > 0
		ul.table-view.explore
			for presentation in presentations
				li.table-view-cell.media
					a.navigate-right(href="/explore/#{presentation.sessionID}", data-transition="slide-in")
						.profile-img.pull-left(style='background-image: url("/media/students/#{pictures[presentation.presenter]}");')
						.media-body
							strong= presentation.title
							br
							small= presentation.presenter
							p.small-abstract #{(presentation.abstract.split(" ").length >= 25)? presentation.abstract.split(" ").splice(0, 25).join(" ") + "..." : presentation.abstract}
							p.medium-abstract #{(presentation.abstract.split(" ").length >= 40)? presentation.abstract.split(" ").splice(0, 40).join(" ") + "..." : presentation.abstract}
							p.large-abstract #{(presentation.abstract.split(" ").length >= 80)? presentation.abstract.split(" ").splice(0, 80).join(" ") + "..." : presentation.abstract}
	else
		p.content-padded(style="text-align: center;"): i No presentations created yet

block footer
	br
block tabs
	+tab("Explore", "", "icon-search", true)
	+tab("Register", "/register", "icon-check", false)
	+tab("My Schedule", "/schedule", "icon-list", false)
	+tab("Feedback", "/feedback", "icon-compose", false)