doctype html
html
	head(lang="en")
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=Edge")

		title= title
		// For Mozilla Persona
		//script(src="https://login.persona.org/include.js")

		// Sets initial viewport load and disables zooming
		meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		link(rel="apple-touch-icon", href="/img/apple-touch-icon.png")
		
		link(href="/ratchet/css/ratchet.css", rel="stylesheet")
		link(href="/ratchet/css/ratchet-theme-ios.min.css", rel="stylesheet")

		link(rel="stylesheet", href="/css/wpp.css")
		//script(src="//code.jquery.com/jquery-1.11.0.min.js")
		script(src="/js/jquery-1.11.0.min.js")
		script(src="/js/touchsupport.js")
		script(src="/js/fingerblast.js")
		script.
			$(document).ready(function() {
				if (!Modernizr.touch) {
					var fb = new FingerBlast("body");
				}
			});
		script(src="/ratchet/js/ratchet.js")
		script(src="/js/wpp.js")
	body
		mixin tab(name, url, iconClass, active)
			if active
				- var activeClass = "active"
			else
				- var activeClass = ""
			a.tab-item(href=url, class=activeClass, data-transition="fade")
				span.icon(class=iconClass)
				span.tab-label= name
		block header
			header.bar.bar-nav
				block buttons
					if !loggedIn
						a.btn.btn-primary.pull-left(href="#login") Login
					a.icon.icon-gear.pull-right(href="#settings")
				h1.title= title
			nav.bar.bar-tab
				block tabs
		.content
			block content
			block footer
				// So that the bottom icon bar doesn't cut off content
				br
		include modals/settings
		include modals/login
		include modals/createpresentation
		include modals/image
		if !loggedIn
			script.
				window.onhashchange = function() {
					window.location.hash = "";
					return false;
				};
				$(document).ready(function() {
					function forceLogin() {
						console.log(window.location.pathname);
						if (window.location.pathname.match(/^\/register\/?(1|2|3|4)?$/))
							$("#login").addClass("active");
					}
					forceLogin();
					window.addEventListener("push", forceLogin);
				});