extends layout

block tabs

block header
	if fromAdmin
		header.bar.bar-nav
			a.btn.btn-link.btn-nav.pull-left(href="/admin/presentations", data-transition="slide-out")
				span.icon.icon-left-nav
				| Back
			h1.title= title
	else
		header.bar.bar-nav
			if fromSchedule
				a.btn.btn-link.btn-nav.pull-left(href="/schedule", data-transition="slide-out")
					span.icon.icon-left-nav
					| Back
			else
				a.btn.btn-link.btn-nav.pull-left(href="/explore", data-transition="slide-out")
					span.icon.icon-left-nav
					| Back
			a.icon.icon-gear.pull-right(href="#settings")
			h1.title= title
		nav.bar.bar-tab
			+tab("Explore", "/explore", "icon-search", true)
			+tab("Register", "/register", "icon-check", false)
			+tab("My Schedule", "/schedule", "icon-list", false)
			+tab("Feedback", "/feedback", "icon-compose", false)

block content
	- var youtubeID = presentation.media.mainVideo;
	.presentation-info
		if youtubeID
			iframe.youtube(type="text/html", src="http://www.youtube.com/embed/#{youtubeID}?html5=1", allowfullscreen, frameborder="0")
		h2.content-padded #{presentation.presenter}
			small #{startTime} - #{endTime}
		h1.content-padded= presentation.title
	.presentation-buttons

		if presentation.pdfID
			a.btn(href="/media/#{presentation.pdfID}", data-ignore="push", target="_blank")
				span.icon.icon-download
				| &nbsp;PDF
		else
			button.btn(style="opacity: 0.3;")
				span.icon.icon-download
				| &nbsp;PDF

		//
			a.btn(href="mailto:?to=&subject=Check%20out%20this%20presentation&body=")
				span.icon.icon-share
				| &nbsp;Share
		button.btn.btn-primary
			span.icon.icon-person
			| &nbsp;Check In
	p.content-padded.abstract= presentation.abstract