extends ../layout

block header
	header.bar.bar-nav
		a.btn.btn-link.btn-nav.pull-left(href="/admin", data-transition="slide-out")
			span.icon.icon-left-nav
			| Back
		h1.title= title

block content
	br
	a.btn.btn-primary.btn-block(href="#create") Create a Presentation
	br
	if presentations.length > 0
		ul.table-view.sessions
			for presentation in presentations
				li.table-view-cell
					//a.push-right(href="/admin/presentations/#{presentation.sessionID}", data-transition="slide-in")
					strong= presentation.title
					br
					small= presentation.presenter
					p
						if presentation.abstract.length < 100
							| #{presentation.abstract}
						else
							| #{presentation.abstract.substr(0, 100) + "..."}

					a.btn.btn-primary(href="/admin/presentations/edit/#{presentation.sessionID}", data-transition="slide-in") Edit
					a.btn.btn-positive(href="/admin/presentations/view/#{presentation.sessionID}", data-transition="slide-in") View
        
	else
		p.content-padded(style="text-align: center;"): i No presentations created yet
block footer
	br